@import "bootstrap.less";
@import "colorpicker.less";
@import "variables.less";

p {
  margin: 20px 0;
}

.form-control {
  box-shadow: none;
}

.btn {
  font-family: @brand-font;
}

body {
  background-image: url(../images/bg.png);
}
